{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Home</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	 <link rel="stylesheet" type="text/css" href="{% static '/home.css' %}">
	 
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

	<link href="https://fonts.googleapis.com/css2?family=Gotu&family=Righteous&display=swap" rel="stylesheet">
		<style>
		.jumbotron {
		  background-image: url("{% static '/images/sky1.jpg' %}"); 
		  background-repeat: no-repeat;
		  background-attachment: fixed;
		  background-size: cover;
		}
		</style>
</head>
<body>
	<div class="container" >
		<div class="title-header"><img src="{% static '/images/aai.jpg' %}">PREVENTIVE MAINTENANCE LOG</div>
	<div class="jumbotron">
		<div class="row">
			<div class="col-md-3">
				<div class="card cardlogo" >
					  <img class="card-img-top" src="{% static '/images/man1.jpg' %}" alt="FACE">
					  <div class="card-body">
					  	<br>
					  	
					    <h5 class="card-title">{{sup.name}}</h5>
						<div class="data-emp">
							<h6 class="card-title">designation:{{sup.designation}}</h6><!-- Retrieve Designation -->
    						 {% csrf_token %}
							<br>
							
							<h6 class="card-title">{{air.name}}</h6><!-- Retrieve Airport name -->
							
							<br>
							<br>
						</div>
					  </div>
					</div>
				<div class="card cardcontact">	
					<div class="card-body headcard">
							DGM: {{dgm.name}} 
							Email:{{dgm.email}} <!-- Retrieve EmailID --> 
							<br>
							Contact:{{dgm.contact}}  <!-- Retrieve contact -->
							<br>
						   <a href="#" class="btn btn-primary contactbut">Contact</a>
							<br>
					</div>
				</div>
			</div>	
			<div class="col-md-2">
			</div>
			<div class="data-table">
				<div class="col-md-3" >
					<div class="card tabcard">
						<ul class="nav nav-pills nav-stacked">
						    <li class="active"><a class="todays" data-toggle="pill" href="#today" >Pending Approvals</a></li>
						    <li><a class="faculty" data-toggle="pill" href="#employ" >Engineers</a></li>
						    <li><a class="faculty" data-toggle="pill" href="#facilities" >Facilities</a></li>
						 </ul>
						 <button class="btn btn-primary logout" onclick="window.location.href='/logout/{{ id }}'"> Logout</button></td><!-- Link logout button -->
					</div>
				</div>

				<div class="col-md-4 card tabcol">
					<div class="tab-content">
			    		<div id="today" class="tab-pane fade in active tod">
								<table class="table table-bordered table-condensed table-striped table-hover todaytasks">
									<tr>
							      		<th>Submitted on</th>
							      		<th>Task Name</th>
							      		<th>Status</th>
						      		</tr>
						      		{% for i in datis %}
								    <tr data-href="/schoice/{{i.p_id}}/{{i.type}}">
								        <td>{{i.date}}</td>
								        <td>{{i.type}}</td>
								        <td>{{i.status}}</td>
								        <!-- <td><a href="/schoice/{{i.p_id}}/{{i.type}} ">{{i.p_id}}</a> </td> -->     
								    </tr>
								    {% endfor %}
								</table>
						</div>						
						<div id="employ" class="tab-pane fade fac">
							<table class="table table-bordered table-condensed table-striped table-hover todaytasks">
							    <tr>
							    	<th>Employee ID</th>
							    </tr>
							    {% for i in eng %}
							    <tr data-href="/schoice/employee/{{i.emp_id}}">
									<td>{{i.emp_id}}</td>
									<td>{{i.name}}</td>
									<td>{{i.designation}}</td>

							    </tr>
							    {% endfor %}
							</table>
						</div>
						<div id="facilities" class="tab-pane fade fac">
							 	 
							<div id="facfix"> 
					  			<button class="tablink" onclick="openCity('Daily', this, 'blue')" id="defaultOpen">Daily</button>
								<button class="tablink" onclick="openCity('Weekly', this, 'blue')">Weekly</button>
								<button class="tablink" onclick="openCity('Monthly', this, 'blue')">Monthly</button>
							</div>
							<div id="Daily" class="tabcontent">
								<!-- <form method="POST" action="/schoice/">
									<br><br>
								{% csrf_token %}   
								<button class="btn btn-primary" type="submit" name='daily' >daily</button> -->
								<a href="{% url 'supervisor:cdvordaily' %}">cdvordaily</a><br>
    <a href="{% url 'supervisor:datisdaily' %}">datisdaily</a><br>
    <a href="{% url 'supervisor:dmedaily' %}">dmedaily</a><br>
    <a href="{% url 'supervisor:dscndaily' %}">dscnrdaily</a><br>
    <a href="{% url 'supervisor:ndbdaily' %}">ndbdaily</a><br>
    <a href="{% url 'supervisor:scctvdaily' %}">scctvdaily</a><br>
    <a href="{% url 'supervisor:vhfdaily' %}">vhfdaily</a><br>

					        </form>
							</div>

							<div id="Weekly" class="tabcontent">
								<!-- <form method="POST" action="/schoice/">  
								<br><br>
								{% csrf_token %}     
						        	<button class="btn btn-primary" type="submit"  name='weekly' >weekly</button>
								</form> -->
								<a href="{% url 'supervisor:cdvorweekly' %}">cdvorweekly</a><br>
    <a href="{% url 'supervisor:datisweekly' %}">datisweekly</a><br>
    <a href="{% url 'supervisor:dmeweekly' %}">dmeweekly</a><br>
    <a href="{% url 'supervisor:dscnweekly' %}">dscnrweekly</a><br>
    <a href="{% url 'supervisor:ndbweekly' %}">ndbweekly</a><br>
    <a href="{% url 'supervisor:scctvweekly' %}">scctvweekly</a><br>
    <a href="{% url 'supervisor:vhfweekly' %}">vhfweekly</a><br>
							</div>

							<div id="Monthly" class="tabcontent">
								<!-- <form method="POST" action="/schoice/">
									<br><br>
								{% csrf_token %}   
									<button type="submit" class="btn btn-primary"  name='monthly' >monthly</button>
								</form> -->
								<a href="{% url 'supervisor:cdvormonthly' %}">cdvormonthly</a><br>
   
    <a href="{% url 'supervisor:dmemonthly' %}">dmemonthly</a><br>
    <a href="{% url 'supervisor:dscnmonthly' %}">dscnrmonthly</a><br>
    <a href="{% url 'supervisor:ndbmonthly' %}">ndbmonthly</a><br>
    <a href="{% url 'supervisor:scctvmonthly' %}">scctvmonthly</a><br>
    <a href="{% url 'supervisor:vhfmonthly' %}">vhfmonthly</a><br>
							</div>
							
						</div>						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
    function openCity(cityName,elmnt,color) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablink");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].style.backgroundColor = "";
      }
      document.getElementById(cityName).style.display = "block";
      elmnt.style.backgroundColor = color;
    
    }
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
    
    $(function(){
        $('.table tr[data-href]').each(function(){
            $(this).css('cursor','pointer').hover(
                function(){ 
                    $(this).addClass('active'); 
                },  
                function(){ 
                    $(this).removeClass('active'); 
                }).click( function(){ 
                    document.location = $(this).attr('data-href'); 
                }
            );
        });
    });
    </script>
    </body>
    </html>