<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_384486335fb4446093bee794a33e4b38 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_384486335fb4446093bee794a33e4b38" ></div>
        
</body>
<script>    
    
            var map_384486335fb4446093bee794a33e4b38 = L.map(
                "map_384486335fb4446093bee794a33e4b38",
                {
                    center: [28.6139, 77.209],
                    crs: L.CRS.EPSG3857,
                    zoom: 5,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_d5fce6ef23814831923ab88141f41d48 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_384486335fb4446093bee794a33e4b38);
        
    
            var marker_00ca3449998c4a56b2d8ee192c9e8326 = L.marker(
                [22.3325, 73.2171],
                {}
            ).addTo(map_384486335fb4446093bee794a33e4b38);
        
    
        var popup_67c94146d2df4c2b926d5d5ef7e2ef50 = L.popup({"maxWidth": "100%"});

        
            var html_5b1703fad0bb4c079da0dad0105e2455 = $(`<div id="html_5b1703fad0bb4c079da0dad0105e2455" style="width: 100.0%; height: 100.0%;"><h5>id:2102</h5><br><h5>name:Linus Torvaldas</h5><br><h5>contact:904471123</h5><br><h5>email:yes@gmail.com</h5><br><a href="/" target="_blank"> Vadodara </a></div>`)[0];
            popup_67c94146d2df4c2b926d5d5ef7e2ef50.setContent(html_5b1703fad0bb4c079da0dad0105e2455);
        

        marker_00ca3449998c4a56b2d8ee192c9e8326.bindPopup(popup_67c94146d2df4c2b926d5d5ef7e2ef50)
        ;

        
    
    
            marker_00ca3449998c4a56b2d8ee192c9e8326.bindTooltip(
                `<div>
                     Vadodara
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4e2091367ade448c8580ba358a84e36a = L.marker(
                [15.3803, 73.835],
                {}
            ).addTo(map_384486335fb4446093bee794a33e4b38);
        
    
        var popup_fcfac80615e54e5b85f7a80790634acf = L.popup({"maxWidth": "100%"});

        
            var html_611e4160dc5a429f8e5448800e1552c7 = $(`<div id="html_611e4160dc5a429f8e5448800e1552c7" style="width: 100.0%; height: 100.0%;"><h5>id:2121</h5><br><h5>name:ronaldo</h5><br><h5>contact:325234</h5><br><h5>email:ok@gmail.com</h5><br><a href="/" target="_blank"> Dabolim </a></div>`)[0];
            popup_fcfac80615e54e5b85f7a80790634acf.setContent(html_611e4160dc5a429f8e5448800e1552c7);
        

        marker_4e2091367ade448c8580ba358a84e36a.bindPopup(popup_fcfac80615e54e5b85f7a80790634acf)
        ;

        
    
    
            marker_4e2091367ade448c8580ba358a84e36a.bindTooltip(
                `<div>
                     Dabolim
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_dfc8f11839774da5801d17ccb8c519da = L.marker(
                [19.0896, 72.8656],
                {}
            ).addTo(map_384486335fb4446093bee794a33e4b38);
        
    
        var popup_85cfbb57939a40ba932e6fd78783e0d7 = L.popup({"maxWidth": "100%"});

        
            var html_ae7cd4f30d5e407eb9d2d5ce1518ee9a = $(`<div id="html_ae7cd4f30d5e407eb9d2d5ce1518ee9a" style="width: 100.0%; height: 100.0%;"><h5>id:2111</h5><br><h5>name:nisarg</h5><br><h5>contact:21423</h5><br><h5>email:asdsad@ymail.com</h5><br><a href="/" target="_blank"> Sahar </a></div>`)[0];
            popup_85cfbb57939a40ba932e6fd78783e0d7.setContent(html_ae7cd4f30d5e407eb9d2d5ce1518ee9a);
        

        marker_dfc8f11839774da5801d17ccb8c519da.bindPopup(popup_85cfbb57939a40ba932e6fd78783e0d7)
        ;

        
    
    
            marker_dfc8f11839774da5801d17ccb8c519da.bindTooltip(
                `<div>
                     Sahar
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b36f7b3b00304c01b098d5f8d3db9f95 = L.marker(
                [28.5562, 77.1],
                {}
            ).addTo(map_384486335fb4446093bee794a33e4b38);
        
    
        var popup_dc87aab46e3841b5b171f028288f0500 = L.popup({"maxWidth": "100%"});

        
            var html_2c27cea0659e4cfba520e96b29f02bfb = $(`<div id="html_2c27cea0659e4cfba520e96b29f02bfb" style="width: 100.0%; height: 100.0%;"><h5>id:2131</h5><br><h5>name:torentino</h5><br><h5>contact:4534</h5><br><h5>email:na@gmail.com</h5><br><a href="/" target="_blank"> Delhi </a></div>`)[0];
            popup_dc87aab46e3841b5b171f028288f0500.setContent(html_2c27cea0659e4cfba520e96b29f02bfb);
        

        marker_b36f7b3b00304c01b098d5f8d3db9f95.bindPopup(popup_dc87aab46e3841b5b171f028288f0500)
        ;

        
    
    
            marker_b36f7b3b00304c01b098d5f8d3db9f95.bindTooltip(
                `<div>
                     Delhi
                 </div>`,
                {"sticky": true}
            );
        
</script>